{{log posts}}

<main id="main">

    {{#each posts }}
    <section>
        <header>
            <h3 onclick="addComment('{{id}}', '{{title}}','{{user.username}}, '{{content}}')">{{title}}</h3> <span>Posted by {{user.username}} on {{format_date createdAt}}</span>
        </header>
        <p>{{content}}</p>
    </section>

    {{/each}}

</main>

<script>
    const addComment = (id,title,user,content) => {
        main.innerHTML = `

        <section>
        <header>
            <h3>${title}</h3> <span>Posted by ${user.username} on </span>
        </header>
        <p>${content}</p>
    </section>

        <form id="comment-form">
            <div>
                <label for="comment">Comment:</label>
                <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">Add Comment</button>
        </form>
        `;

    }



</script>